<h3>{{ _('Real Emergency Stop') }}</h3>
<form class="form-horizontal marginTop">

    <div class="control-group">
        <label class="control-label">{{ _('Enable Physical Button') }}</label>
        <div class="controls">
            <input type="checkbox" data-bind="checked: settings.plugins.RealEmergencyStop.physical_button">
        </div>
    </div>

    <div class="control-group">
        <div class="marginBot">
            <b>Which GPIO pin is your button attached to? </b>
        </div>
        <label class="control-label">{{ _('Button BCM pin:') }}</label>
        <div class="controls" data-toggle="tooltip">
            <input type="number" step="any" min="0" class="input-mini text-right"
                   data-bind="value: settings.plugins.RealEmergencyStop.button_pin">
        </div>
    </div>

    <div class="control-group">
        <div class="marginBot">
            <b>Which GPIO pin is your LED attached to?</b>
        </div>
        <label class="control-label">{{ _('LED BCM pin:') }}</label>
        <div class="controls" data-toggle="tooltip">
            <input type="number" step="any" min="0" class="input-mini text-right"
                   data-bind="value: settings.plugins.RealEmergencyStop.led_pin">
        </div>
    </div>

    <div class="control-group">
        <div class="marginBot">
            <b>Button also needs to be connected to ground or 3.3 V</b>
        </div>
        <label class="control-label">{{ _('Button is connected to:') }}</label>

        <div class="controls" data-toggle="tooltip"
             title="{{ _('Specify how the button is connected. One end of the button must be wired to ground or 3.3 V. Button is triggered when closed.') }}">
            <select class="select-mini" data-bind="value: settings.plugins.RealEmergencyStop.switch">
                <option value=0>{{ _('Ground') }}</option>
                <option value=1>{{ _('3.3V') }}</option>
            </select>
        </div>

        <div class="alert-info wy-alert-warning marginTop">
            <span class="icon-info-sign"/>
            <span class="octoFontFamily iconIndent">E-Stop triggered when closed.</span>
        </div>

        <div class="alert-danger marginBot">
            <span class="icon-warning-sign"/>
            <span class="octoFontFamily iconIndent">Warning! Never connect the button to 5V! 5V could destroy GPIO of your Raspberry Pi.</span>
        </div>

        <div class="control-group">
            <label class="control-label">{{ _('Emergency GCODE:') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level"
                        data-bind="value: settings.plugins.RealEmergencyStop.emergencyGCODE">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">{{ _('Reset GCODE:') }}</label>
            <div class="controls">
                <input type="text" class="input-block-level"
                        data-bind="value: settings.plugins.RealEmergencyStop.resetGCODE">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">{{ _('Enable warning dialog') }}</label>
            <div class="controls">
                <input type="checkbox" data-bind="checked: settings.plugins.RealEmergencyStop.confirmationDialog">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">{{ _('Enable big button') }}</label>
            <div class="controls">
                <input type="checkbox" data-bind="checked: settings.plugins.RealEmergencyStop.big_button">
            </div>
        </div>

        <div style="font-size: 11px">
            For more information click <a
                href="https://github.com/jonathanrobichaud4/Octoprint-RealEmergencyStop">here</a>
        </div>
    </div>
</form>
