.marginBot{
    margin-bottom: 10px;
}

.marginTop{
    margin-top: 20px;
}

.octoFontFamily{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.iconIndent{
    margin-left: 10px;
}

.emergencystop_small, .emergencystop_small_disabled{
    padding: 12px 0px 12px;
}

.emergencystop_small:hover .fa-circle{
    text-shadow: grey 1px 0px 3px ;
}

.emergencystop_small i {
    color: red;
}

.emergencystop_small span, .emergencystop_small_disabled span {
    padding: 5px 10px 5px;
    font-size: 15px
}

.emergencystop_small_disabled i {
    color: grey;
    cursor: default;
}

.emergencystop_small_disabled {
    cursor: default;
}

.emergencystop_big, .emergencystop_big_disabled{
    padding: 0px 5px 0px 5px
}

.emergencystop_big_disabled {
    cursor: default;
}

.emergencystop_big_disabled .emergencystop_big_middle{
    background-color: grey;
}
.emergencystop_big_disabled .emergencystop_big_middle h5 {
    color: lightgray;
}

.emergencystop_big_disabled .emergencystop_big_middle i {
    color: lightgray;
}

.emergencystop_big_middle {
    display: inline-block;
    height: calc(100% - 10px);
    margin: 4px 0 5px 0;
    padding: 0 5px 0 5px;
    background: red;
    border-style: solid ;
    border-width: 1px;
    border-radius: 5px;
}

.emergencystop_big_middle h5 {
    font-size: 15px;
    text-shadow: none;
    font-weight: bold;
    padding: 0 2px 0 2px;
    margin: 0;
    /*background-color: red;*/
    height: 100%;
    text-align: center;
    line-height: 30px;
    color: white;
    display: inline;
}

.emergencystop_big_middle span{
    font-size: 11px;
}

.emergencystop_big i {
    /*font-size: 20px;*/
    /*font-weight: bold;*/
    /*display: inline;*/
    color: yellow;
    text-shadow: none;
    vertical-align: middle;
}

.emergencystop_big:hover .fa-circle{
    text-shadow: grey 1px 0px 8px ;
}

.emergencystop_big:hover h5{
    text-shadow: grey 1px 0px 8px ;
}

.reset, .reset_disabled{
    padding: 12px 0px 12px;
}

.reset:hover .fa-circle{
    text-shadow: white 1px 0px 3px ;
}

.reset i {
    color: grey;
}

.reset span, .reset_disabled span {
    padding: 5px 10px 5px;
    font-size: 15px
}

.reset_disabled i {
    color: grey;
    cursor: default;
}

.reset_disabled {
    cursor: default;
}
